/* SECTION ABOUT */

.about {
  display: flex;
}

.about__divider {
  margin-top: 8rem;
}

.about__content {
  font-size: 1.7rem;
  font-weight: 500;
  width: 42%;
}

.about__text {
  margin-top: 8rem;
}

.about__learn-more {
  margin-top: 6rem;
  display: flex;
  align-items: center;
  gap: .5rem;
  color: var(--text-blue);
  cursor: pointer;
}

.about__learn-more img {
  width: .8rem;
}

/* SECTION ABOUT END */

