/* SECTION DOWNLOAD */

.download {
  display: flex;
  position: relative;
}

.download__banner {
  margin-top: 2rem;
  max-width: 100%;
  height: auto;
}

.download__content {
  position: absolute;
  left: 74rem;
  transform: translate(-50%, -50%);
}

.download__content-divider {
  margin-top: 56rem;
  filter: grayscale(100%) brightness(350%);
}

.download__content p {
  font-size: 2rem;
  font-weight: 700;
  color: var(--text-purple);
  margin: 6rem 0;
}

.download__buttons {
  display: flex;
  align-items: center;
  gap: var(--medium-spacing);
}

.download__button {
  height: 4rem;
  width: 12.5rem;
  border: none;
  background-color: var(--bg-black);
  color: var(--text-white);
  border-radius: .4rem;
  cursor: pointer;
  transition: .3s ease-in-out;
}

.download__button:hover {
  transform: translateY(-0.2rem);
}

.download__button-content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: .5rem;
  margin: .2rem .4rem;
  font-family: var(--font-family);
}

.download__button span {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.download__button span strong {
  font-size: 1.4rem;
}

/* SECTION DOWNLOAD END */